#container{
    width: 1000px;
    height: 350px;
    margin: auto;
    position: relative;
    top: 100px;
}
.First-Box{
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    
}
.box1{
    width: 150px;
    height: 50px;
    background-color: brown;
    border: 3px solid black;
    border-left: 6px solid black;
}
.box2{
    width: 150px;
    height: 50px;
    background-color: brown;
    border: 3px solid black;
}
.box3{
    width: 150px;
    height: 50px;
    background-color: brown;
    border: 3px solid black;
}
.box4{
    width: 150px;
    height: 50px;
    background-color: brown;
    border: 3px solid black;
}
.box5{
    width: 150px;
    height: 50px;
    background-color: brown;
    border: 3px solid black;
}
.box6{
    width: 150px;
    height: 50px;
    background-color: brown;
    border: 3px solid black;
    border-right: 6px solid black;
}
.Second-Box{
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 4px;
}
.Third-Box{
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 8px;
}
.Forth-Box{
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 12px;
}
.Fifth-Box{
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 16px;
}
.Sixth-Box{
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 20px;
}